<html>
    <title>Clarktopus</title>
        <body>
            <h1>HEY SQUIDWARD</h1>
            <ul>
                <li>Clark is black.</li>
                <li>Clark is 10 months.</li>
                <li>Clark has huge ears.</li>
            </ul>
        </body>
</html>