@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.home-callout, .navbar {
  //Gradient provided by "@_ighosh" at uiGradients.com
  background: #2C3E50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C3E50 , #4CA1AF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C3E50 , #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  border: none;
}

.home-callout {
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
}
//Controls the color and hover states of Navbar, written in Sass.
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color: white;
    &:hover {
      color: white;
      opacity: 0.75;
    }
}

.body-text {
  color: red;
  font-family: 'Open Sans', sans-serif;
}